.App {
  text-align: center;
}

.phone-picture {
  height: 340px;
  width: 550px;
  object-fit: contain;
}

.phone-container {
  margin: 20px 0 0 50px;
  background-color: white;
  width: 550px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
}

.phone-name {
  padding: 16px;
  font-size: 48px;
  margin-bottom: 0px;

  /* font-weight: bold; */
}

.phone-company {
  /* padding: 16px; */
  font-size: 32px;
  color: grey;
  /* font-weight: bold; */
  margin-top: 0px;
}

body {
  background-color: whitesmoke;
  font-family: Roboto;
  margin: 16px;
}

.phone-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 24px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.login {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.text-field {
  width: 200px;
}
